button {
    margin-right: 5px;
    margin-bottom: 5px;
    
    border-radius: 5px;
    font-size: 20px;
}

.button-normal {
    width: 64px; /* 25% - 5px */
    height: 64px;
}

.button-wide {
    width: 133px;
    height: 64px;
}

.button-high {
    width: 64px;
    height: 133px; /* 128 + 5 */
}