.keypad {
    padding: 0px 10px 15px 10px;
}

.keypad-panel {
    display: flex;
    background-color: rgb(109, 109, 109);
    box-shadow: 0 0 4px #000000;
    border-radius: 10px;
    padding: 10px;
    flex-direction: row;
}

.keypad-left {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.keypad-right {
    width: (25% - 5px);
    display: flex;
    flex-direction: column;
}

.keypad-left + .keypad-right {
    margin-left: 5px;
}

button {
    margin-top: 5px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 0 4px #000000;
}

button + button {
    margin-left: 5px;
}

.button-normal {
    width: 65px;
    height: 65px;
}

.button-wide {
    width: 135px;
    height: 65px;
}

.button-high {
    width: 65px;
    height: 135px;
}