*{ margin: 0; padding: 0; border: 0; box-sizing: border-box;}

.calculator {
    margin: auto;
    margin-top: 50px;
    width: 335px;
    padding: 15px 10px 5px 10px;
    background-color: rgb(77, 77, 77);
    box-shadow: 0 0 10px #000000;
}