*{ margin: 0; padding: 0; border: 0; box-sizing: border-box;}

/* button width = 64px */
/* input, button width = 64 * 4(buttons) + 5 * 3(indents) */

body {
    background-color: #1a1920;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 276px;
}

input {
    width: calc(100% - 5px);
    height: 64px;
    font-size: 30px;

    padding: 0 10px;
    border-radius: 5px;
}

.main__button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
}

button {
    width: calc(25% - 5px); /* 64px */
    height: 64px;

    margin-right: 5px;
    margin-bottom: 5px;
    
    border-radius: 5px;
    font-size: 20px;
}

button:hover {
    filter: brightness(60%);
}

button:disabled {
    background-color: #a1a1a1;
    color: white;
}

button:nth-child(4n) {
    margin-right: 0px;
}

.main__compute {
    width: calc(100% - 5px);
    background-color: #597dbe;
    color: white
}
